body {
    background-color: midnightblue;
    font-family: Orbitron;
    color: white;
}

h1 {
    font-size: 3rem;
    text-align: center;
}


p {
    font-family: Roboto;
}

#site-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;

}

#img-title {
    text-align: center;
}

#image-container > img{
    border-radius: 5px;
    max-width: 90%;
    display: block;
    margin: auto;
    padding-top: 5%;
}

#image-container{
    display: block;
    width: 70%;

    margin: auto;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    
}

#button-block{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#likeBtn, #hdLink {
    color: black;
    padding: 10px;
    font-weight: 600;
    font-family: Roboto;
    text-transform: uppercase;
    display: inline;
}

.pic-info{
    display: block;
    max-width:90%;
    margin: 5%;
}

#like-heart {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
}

#likeForm {
    display: inline;

}